/* MAIN COLOR  */
:root {
  --main_color: #f58220;
  --second_color: #013ca6;
  --back_menu: #fff;
  --text_menu: #000;
}
html, body {
  overflow-x: hidden;
  font-size: 1.1rem;
}
html {
  background-color: var(--dark);
}
/* MARGIN  */
.m10 {margin: 10px;}
.m20 {margin: 20px;}
.m30 {margin: 30px;}
.m40 {margin: 40px;}
.m50 {margin: 50px;}
.m60 {margin: 60px;}
.m70 {margin: 70px;}
.m80 {margin: 80px;}
.m90 {margin: 90px;}
.m100 {margin: 100px;}
.mt10 {margin-top: 10px;}
.mt20 {margin-top: 20px;}
.mt30 {margin-top: 30px;}
.mt40 {margin-top: 40px;}
.mt50 {margin-top: 50px;}
.mt60 {margin-top: 60px;}
.mt70 {margin-top: 70px;}
.mt80 {margin-top: 80px;}
.mt90 {margin-top: 90px;}
.mt100 {margin-top: 100px;}
.mb0 {margin-bottom: 0px;}
.mb8 {margin-bottom: 8px;}
.mb10 {margin-bottom: 10px;}
.mb20 {margin-bottom: 20px;}
.mb30 {margin-bottom: 30px;}
.mb40 {margin-bottom: 40px;}
.mb50 {margin-bottom: 50px;}
.mb60 {margin-bottom: 60px;}
.mb70 {margin-bottom: 70px;}
.mb80 {margin-bottom: 80px;}
.mb90 {margin-bottom: 90px;}
.mb100 {margin-bottom: 100px;}
.mb200 {margin-bottom: 200px;}
/* PADDING  */
.p10 {padding: 10px;}
.p20 {padding: 20px;}
.p30 {padding: 30px;}
.p40 {padding: 40px;}
.p50 {padding: 50px;}
.p60 {padding: 60px;}
.p70 {padding: 70px;}
.p80 {padding: 80px;}
.p90 {padding: 90px;}
.p100 {padding: 100px;}
.p110 {padding:110px;}
.p120 {padding: 120px;}
.pt10 {padding-top: 10px;}
.pt20 {padding-top: 20px;}
.pt30 {padding-top: 30px;}
.pt40 {padding-top: 40px;}
.pt50 {padding-top: 50px;}
.pt60 {padding-top: 60px;}
.pt70 {padding-top: 70px;}
.pt80 {padding-top: 80px;}
.pt90 {padding-top: 90px;}
.pt100 {padding-top: 100px;}
.pt110 {padding-top: 110px;}
.pt120 {padding-top: 120px;}
.pb10 {padding-bottom: 10px;}
.pb20 {padding-bottom: 20px;}
.pb30 {padding-bottom: 30px;}
.pb40 {padding-bottom: 40px;}
.pb50 {padding-bottom: 50px;}
.pb60 {padding-bottom: 60px;}
.pb70 {padding-bottom: 70px;}
.pb80 {padding-bottom: 80px;}
.pb90 {padding-bottom: 90px;}
.pb100 {padding-bottom: 100px;}
.flex-1 {flex: 1 !important;}
.flex-2 {flex: 2 !important;}
.flex-3 {flex: 3 !important;}
.flex-4 {flex: 4 !important;}
.flex-5 {flex: 5 !important;}
.d_flex {display: flex !important;}
.j_end {justify-content: flex-end !important;}
.j_start {justify-content: flex-start !important;}
.j_center {justify-content: center !important;}
.a_end {align-items:  flex-end !important;}
.a_start {align-items:  flex-start !important;}
.a_center {align-items:  center !important;}
.f_row {flex-direction: row !important;}
.f_column {flex-direction: column !important;}
.f_wrap {flex-wrap: wrap !important;}
.i_block {display: inline-flex;}
.shadow_bottom {box-shadow: 0px 4px 15px #9e95956e;}
.s_filter { background-image: linear-gradient(to top, rgba(-125, 0, 0, 2.5), rgba(-225, 0, 0, 0.3), rgba(0, 0, 255, -0.9), rgba(0, 0, 0, 0)); height: calc(100vh - 73px); width: 100%;}
.anima_hover {
  -webkit-animation-duration: 1s !important;
  animation-duration: 1s !important;
  -webkit-animation-name: pulse;
  animation-name: pulse;
  animation-iteration-count: infinite;
}
.title_divisor {
  border-top: 5px solid rgb(127, 181, 226);
  border-radius: 10px;
  max-width: 200px;
}
.title_divisor.second {
  border-top: 5px solid rgb(127, 181, 226);
}
.top_fixed {
	position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
	animation: 1s;
	box-shadow: 0px 3px 6px #00000029;
	transition:all 1s ease 0s;
}
/* OVER NAV */
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #0c2a3d;
  overflow-x: hidden;
  transition: 0.5s;
  z-index: 9999;
  opacity: 0.95;
}
.list_overlay {
margin: 0;
padding: 0;
}
.overlay-content {
position: relative;
top: 13%;
width: 100%;
text-align: center;
margin-top: 30px;
}
.overlay a {
padding: 8px 20px;
text-decoration: none;
font-size: 18px;
color: #fff;
display: block;
transition: 0.3s;
}
.overlay a:hover, .overlay a:focus {
color: #f1f1f1;
}
.overlay .closebtn {
position: absolute;
top: -10px;
right: 10px;
font-size: 35px;
}
.list_overlay > li {
padding-top: 30px;
scroll-padding-bottom: 15px;
}
.into_li_flex {
display: flex;
  justify-content: center;
}
/*OVER NAV END*/